<div class="footer">
    <h1>
        This is a footer
    </h1>
</div>
<style>
    .footer{
        text-align: center;
        background-color: blueviolet;
        color: white;
       
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>