
<div class="flex">
    <a href="/"><h1>NavBar</h1></a>
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    <a href="/users/logout">Logout</a>
     <a href="/users/profile">My Account</a>
</div>

<style>
    .flex{
        display: flex;
        justify-content: space-around;
        background-color: blueviolet;
        color: white;
        align-items: center;
        width: 100%;
    }
</style>